---
import { slugifyStr } from "@/utils/slugify";
import type { CollectionEntry } from "astro:content";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";

export interface Props extends CollectionEntry<"blog"> {
  variant?: "h2" | "h3";
  compact?: boolean;
}

const { variant = "h2", compact = false, data, id, filePath } = Astro.props;

const { title, description, pubDatetime, modDatetime, timezone } = data;

const headerProps = {
  style: { viewTransitionName: slugifyStr(title) },
  class:
    "text-2xl font-medium hover:underline decoration-[1.6px] underline-offset-2",
};
---

<li class="my-6">
  <a
    href={getPath(id, filePath)}
    class="inline-block text-lg font-medium text-accent decoration-[1.6px] underline-offset-2 focus-visible:no-underline"
  >
    {
      variant === "h2" ? (
        <h2 {...headerProps}>{title}</h2>
      ) : (
        <h3 {...headerProps}>{title}</h3>
      )
    }
  </a>
  <Datetime
    {pubDatetime}
    {modDatetime}
    {timezone}
    size={compact ? "base" : "sm"}
    showIcon={!compact}
    showUpdatedLabel={!compact}
    preferPublished={compact}
  />
  {compact ? null : <p>{description}</p>}
</li>
